<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Добро пожаловать!</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
<body style="margin:0;">
<form action="{% url 'phandomat_page' %}" method="">

  <button type="submit" style="
    width: 30vh;
    margin: 50vh 7vh;
    height:50px;
">Старт</button>
  <label>Отправить фото нейронке</label>
  <input type="file">
</form>
</body>
</html>